@font-face {
    font-family: 'Digital Display';
    src: url('https://praxeds.github.io/scrimba-basketball-scoreboard/Assets/Digital-Display.woff2');  
}

body {
    display: flex;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    text-align: center;
    background-color: #374151;
    width: 575px;
    height: 385px;    
    border: 5px solid #F94F6D;
    border-radius: 5px;

}

h3{
    width: 149px;
    height: 36px;
    margin-bottom: 20px;
    margin-top: 68px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #D1D5DB;

    
}

#count-home, #count-guest{
    
    width: 155px;
    height: 120px;
    margin: 0 auto;
    background-color: black;
    color: #F94F6D;
    font-family: 'Digital Display';
    font-weight: 400;
    font-size: 90px;
    line-height: 126.67px;
    border-radius: 5px;
}

.one, .two, .three{
    
    border: 2px solid #9AABD8;
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 77px;
    background-color: #1B244A;
    border-radius: 5px;
    color: #9AABD8;    
    font-family:'Digital Display';
    font-size: 18px;

}

/* #newGame{
    position:absolute;
    border: 1px solid red;
    margin-top: 10px;
    border-radius: 5px;
} */

#newGame {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    margin-top: 320px;
        
}

.box {
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: all .8s;
  cursor: pointer;
  position: relative;
  background: rgb(58, 165, 253);
  overflow: hidden;
  border-radius: 5px;
}

.box:before {
  content: "O";
  position: absolute;
  top: 0;
  background: #1B244A;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform .4s;
}

.box:nth-child(2)::before {
  transform: translateY(-100%);
  content: 'V';
}

.box:nth-child(3)::before {
  content: 'E';
}

.box:nth-child(4)::before {
  transform: translateY(-100%);
  content: 'R';
}

.box:nth-child(5)::before {
  content: '!';
}

#newGame:hover .box:before {
  transform: translateY(0);
}